:root {
  --primary-color: #4a4e69;
  --secondary-color: #f2e9e4;
  --accent-color: #d66d75;
  --neutral-color: #f5f5f5;
  --nav-color: #2f1c6a;
}

.header {
  display: flex;
  align-items: center;
  padding: 30px 5%;
  font-family: "Poppins", sans-serif;
  background-color: var(--nav-color);   /* 1f242d dark mode */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 18px;
}

nav {
  align-self: center;
  margin: auto;
}

.nav-links a, .nav-links li {
  color: var(--secondary-color);
  text-decoration: none;
}

.nav-links a {
  margin-right: 75px;
}

.nav-links a:last-child {
  margin-right: 0;
}

.nav-links a:hover {
  transition: all 0.3s ease 0s;
}

.nav-links a:hover {
  color: #d66d75;
}

.account-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--secondary-color);
  cursor: pointer;
}

.pfp {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
}

.search-container, .account-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 20%;
}

.account-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--secondary-color)
}

.ri-search-line {
  color: var(--secondary-color);
  margin-left: 10px;
  font-size: 20px;
}

@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.search-box {
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  outline: none;
  width: 100%;
}

.ri-search-line {
  font-size: 20px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
    opacity: 0
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes floatImage {
  0% {
    transform: translateY(0)
  }
  50% {
    transform: translateY(-24px)
  }
  100% {
    transform: translateY(0)
  }
}

